In [1]:
from load_dataset import dataset

In [2]:
dataset

,n_patients,n_clusters,latlong,clusters,region,postcodes,created,mode
0,6,1,"[[-0.0011351833333321792, -0.03472788333333332...","[[2, 3, 5, 4, 1, 0]]",UK,{},2021-01-23,driving
1,24,3,"[[0.024502254166669957, -0.04485072916666666],...","[[3, 18], [0, 4, 8, 6, 9, 20, 13, 10, 12, 14, ...",UK,{},2021-01-23,driving
2,11,1,"[[-0.00422240000000329, -0.010207700000000014]...","[[2, 6, 9, 0, 10, 4, 1, 5, 8, 7, 3]]",UK,{},2021-01-23,driving
3,20,2,"[[-0.002061715000010622, 0.00596078000000011],...","[[12, 11, 13, 7, 5, 6, 8, 9, 10, 17], [4, 2, 3...",UK,{},2021-01-23,driving
4,32,3,"[[0.009377109375002135, 0.0008326499999999903]...","[[0, 1, 3, 4, 9, 8, 5, 2, 7, 19, 23], [22, 26,...",UK,{},2021-01-23,driving
...,...,...,...,...,...,...,...,...
9496,20,1,"[[-0.007288360595701704, 0.0027421951293944424...","[[9, 10, 11, 12, 14, 15, 16, 13, 5, 6, 7, 8, 3...",UK,{'HD5': 20},2021-11-02,driving
9497,18,1,"[[0.0019601186116560143, -0.01479877365960025]...","[[17, 15, 16, 14, 4, 5, 0, 13, 1, 2, 3, 6, 7, ...",UK,"{'SO22': 11, 'SO23': 7}",2021-11-02,driving
9498,20,1,"[[-0.007288360595701704, 0.0027421951293944424...","[[9, 10, 11, 12, 14, 15, 16, 13, 5, 6, 7, 8, 3...",UK,{'HD5': 20},2021-11-02,driving
9499,18,1,"[[0.0022190941704636202, -0.014561328623029945...","[[17, 15, 16, 14, 4, 5, 0, 13, 1, 2, 3, 6, 7, ...",UK,"{'SO22': 11, 'SO23': 7}",2021-11-02,driving
9500,18,1,"[[0.0053388807508696345, -0.0132701065805223],...","[[16, 14, 15, 17, 13, 4, 5, 0, 12, 1, 2, 3, 6,...",UK,"{'SO22': 11, 'SO23': 7}",2021-11-02,driving